@using SgfDevs.Dev

@{ 
    var inputName = ViewData.TemplateInfo.HtmlFieldPrefix;
    var inputValue = ViewData.TemplateInfo.FormattedModelValue.ToString();
}

<div class="sgf_toggle input">
    @if (inputValue == "1")
    {
        <input type="checkbox" name="@inputName" id="@inputName" value="1" checked>
    }
    else
    {
        <input type="checkbox" name="@inputName" id="@inputName" value="0">
    }
    <label for="@inputName"></label>
</div>