@model SgfDevs.Models.ForgottenPasswordModel
@using System.Web.Mvc.Html
@using Umbraco.Web
@using SgfDevs.Controllers

<div class="container">
    @using (Html.BeginUmbracoForm<AccountController>("HandleForgottenPassword"))
    {                
      @Html.AntiForgeryToken()
        <div class="form">
            <header>
               <h2>Forgot Your Password?</h2>
               @if(ViewData["Saved"] == "saved"){
                <p>We've sent you an email. Follow the link within to reset your passsword. Thank you!</p>
                } else {
                <p>We'll shoot you an email with a reset link.</p>
                }
                 @Html.ValidationSummary(true)
            </header>
             @if(ViewData["Saved"] != "saved"){
                <div class="field">
                    @Html.LabelFor(model => model.EmailAddress)
                    @Html.EditorFor(model => model.EmailAddress)
                    @Html.ValidationMessageFor(model => model.EmailAddress)
                </div>
                <p>
                    <button class="button tall wide" type="submit">Reset Password</button>
                </p>
            }
        </div>
    }  
</div>
