@model SgfDevs.Models.LoginModel
@using System.Web.Mvc.Html
@using Umbraco.Web
@using SgfDevs.Controllers

<div class="container">
    @using (Html.BeginUmbracoForm<AccountController>("Login"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="form">
            <div class="field">
                @Html.LabelFor(model => model.Username)
                @Html.EditorFor(model => model.Username)
                @Html.ValidationMessageFor(model => model.Username)
            </div>

            <div class="field">
                @Html.LabelFor(model => model.Password)
                @Html.PasswordFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>

            <footer>
                <button class="button tall wide" type="submit">Login</button>
            </footer>

            <div class="mt_25"></div>

            <footer>
                <p>
                    Forgot your password? <br />
                    Gonna have to hang tight. Password reset coming soon. <br />
                    Ping an admin in Discord for a manual reset for now.
                </p>
            </footer>
        </div>
    }
</div>

<div class="mt_75"></div>