@model SgfDevs.Models.RegisterModel
@using System.Web.Mvc.Html
@using Umbraco.Web
@using SgfDevs.Controllers

<div class="container">
    @using (Html.BeginUmbracoForm<AccountController>("Register"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <ul class="form">
            <li>
                @Html.LabelFor(model => model.FirstName)
                @Html.EditorFor(model => model.FirstName)
                @Html.ValidationMessageFor(model => model.FirstName)
            </li>

            <li>
                @Html.LabelFor(model => model.LastName)
                @Html.EditorFor(model => model.LastName)
                @Html.ValidationMessageFor(model => model.LastName)
            </li>

            <li>
                @Html.LabelFor(model => model.Email)
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </li>

            <li>
                @Html.LabelFor(model => model.Username)
                @Html.EditorFor(model => model.Username)
                @Html.ValidationMessageFor(model => model.Username)
            </li>

            <li>
                @Html.LabelFor(model => model.Password)
                @Html.PasswordFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </li>

            <li>
                <button>Submit</button>
            </li>
        </ul>
    }
</div>