@model SgfDevs.Models.RegisterModel
@using System.Web.Mvc.Html
@using Umbraco.Web
@using SgfDevs.Controllers

<div class="container">
    @using (Html.BeginUmbracoForm<AccountController>("Register"))
    {
        @Html.AntiForgeryToken()
        

        <div class="form">
            <header>
                <h1>Get started with your account</h1>
                <p>
                    Meet your peers. Engage with experts. Iron sharpening iron, you get it. Do it all with a membership to Springfield Devs. Already have an account? <a href="/login">Log in</a>
                </p>

                @Html.ValidationSummary(true)
            </header>

            <div class="field">
                @Html.LabelFor(model => model.FirstName)
                @Html.EditorFor(model => model.FirstName)
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>

            <div class="field">
                @Html.LabelFor(model => model.LastName)
                @Html.EditorFor(model => model.LastName)
                @Html.ValidationMessageFor(model => model.LastName)
            </div>

            <div class="field">
                @Html.LabelFor(model => model.Email)
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>

            <div class="field">
                @Html.LabelFor(model => model.Username)
                @Html.EditorFor(model => model.Username)
                @Html.ValidationMessageFor(model => model.Username)
            </div>

            <div class="field">
                @Html.LabelFor(model => model.Password)
                @Html.PasswordFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>

            <div class="field">
                <label for="ChallengeQuestion">Null Check <span>(What is the Springfield, MO Airport Code?)</span> <span class="null_check_hint">Need Help?</span> </label>
                @Html.EditorFor(model => model.ChallengeQuestion)
                @Html.ValidationMessageFor(model => model.ChallengeQuestion)
            </div>

            <footer>
                <button class="button tall wide" type="submit">Get Started!</button>
                <p>
                    By clicking the "get started" button, you are creating a Springfield Devs account, and you agree to Springfield Devs  <a href="/about/code-of-conduct/">Code of Conduct</a>.
                </p>
            </footer>
        </div>
    }
</div>

<div class="mt_75"></div>