@model SgfDevs.Models.ResetPasswordModel
@using System.Web.Mvc.Html
@using Umbraco.Web
@using SgfDevs.Controllers

<div class="container">

@using(Html.BeginUmbracoForm<AccountController>("HandleResetPassword") )
{
    @Html.AntiForgeryToken()
    <div class="form">
        <header>
           <h2>Reset Your Password</h2>
             @Html.ValidationSummary(true)
        </header>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>

        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.ConfirmPassword)
        </div>

        <div class="editor-field">
            @Html.EditorFor(model => model.ConfirmPassword)
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
        </div>
        
        <p>
            <input type="submit" value="Reset Password" />
        </p>
    </div>
}
</div>
