@model SgfDevs.Models.ResetPasswordModel
@using System.Web.Mvc.Html
@using Umbraco.Web
@using SgfDevs.Controllers

<div class="container">

@using(Html.BeginUmbracoForm<AccountController>("HandleResetPassword") )
{
    @Html.AntiForgeryToken()
    <div class="form">
        <header>
           <h2>Reset Your Password</h2>
             @Html.ValidationSummary(true)
        </header>

        <div class="field">
            @Html.LabelFor(model => model.Password)
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <div class="field">
            @Html.LabelFor(model => model.ConfirmPassword)
            @Html.EditorFor(model => model.ConfirmPassword)
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
        </div>
        
        <footer>
            <button class="button tall wide" type="submit">Reset Password</button>
        </footer>
    </div>
}
</div>
