@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web;
@using ClientDependency.Core.Mvc;
@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Web;
@using Member = Umbraco.Web.PublishedModels.Member;
@using Current = Umbraco.Web.Composing.Current;


@{ 
    Random rand = new Random();

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Model.Name</title>

    <link rel="stylesheet" href="/css/styles.css?data=@rand.Next()" asp-append-version="true" />
    @RenderSection("Head", required: false)

    @RenderSection("TopScripts", required: false)



</head>
<body>
    <header class="site_header">
        <div class="container">
            <div class="logo">
                <a href="/">
                    <img src="/images/logo.svg" alt="Springfield Devs Logo">
                </a>
            </div>

            <nav id="desktop-nav" class="main" role="navigation" aria-label="Main">
                <ul>
                    <li>
                        <a href="/about/">About <i class="fas fa-chevron-down"></i></a>
                        <nav>
                            <ul>
                                <li><a href="/about/">Springfield Devs</a></li>
                                <li><a href="/about/leadership/">Leadership</a></li>
                                <li><a href="/about/code-of-conduct/">Code of Conduct</a></li>
                                <li><a href="/about/sponsorship/">Sponsorship</a></li>
                                @*<li><a href="#">Contact</a></li>*@
                            </ul>
                        </nav>
                    </li>
                    @*<li><a href="/events/">Events</a></li>*@
                    <li><a href="/groups/">Groups</a></li>
                    <li><a href="/directory/">Directory</a></li>
                    <li><a href="/jobs/">Jobs</a></li>
                    <li><a href="/archives/">Archives</a></li>
                    <li class="mobile"><a href="#">Login</a></li>
                    <li class="mobile"><a href="#">Signup</a></li>
                </ul>
            </nav>

            <nav class="user" role="navigation" aria-label="User">
                <ul>
                    <li class="search">
                        <a id="search" href="javascript:void(0);"><i class="far fa-search"></i></a>
                    </li>

                    @Html.Partial("LoginStatus")
                </ul>
                <div id="search_box" class="search-box hide">
                    <form action="@Umbraco.Content(1272).Url" method="get">
                        <input type="text" placeholder="Search" id="query" name="query" />
                        <button>Search</button>
                    </form>
                </div>
            </nav>

            <div id="mobile-nav-toggle" class="mobile-nav__toggle">
                <div class="nav-icon">
                    <span></span> <span></span>
                    <span></span> <span></span>
                    <span></span> <span></span>
                </div>
                <span>Menu</span>
            </div>


            <nav id="mobile_nav" class="mobile-nav nav-hidden" aria-hidden="true" role=navigation aria-label="Main">
                <ul>
                    <li><a id="mobile_nav_about" href="javascript:void(0);">About <i class="fas fa-chevron-right"></i></a></li>
                    @*<li><a href="/events/">Events</a></li>*@
                    <li><a href="/groups/">Groups</a></li>
                    <li><a href="/directory/">Directory</a></li>
                    <li><a href="/jobs/">Jobs</a></li>
                    <li><a href="/archives/">Archives</a></li>
                    <li class="mobile"><a href="#">Login</a></li>
                    <li class="mobile"><a href="#">Signup</a></li>
                </ul>
                <div class="mobile-nav__about nav-hidden">
                    <button id="mobile_nav_back"> <i class="fa fa-angle-left"></i>Back</button>
                    <ul>
                        <li><a href="/about/">Springfield Devs</a></li>
                        <li><a href="/about/leadership/">Leadership</a></li>
                        <li><a href="/about/code-of-conduct/">Code of Conduct</a></li>
                        <li><a href="/about/sponsorship/">Sponsorship</a></li>
                        @*<li><a href="#">Contact</a></li>*@
                    </ul>
                </div>
            </nav>

        </div>
    </header>

    <div class="site_content">
        @RenderBody()
    </div>

    <footer class="site_footer">
        <div class="container">
            <div class="main">
                <div class="logo">
                    <a href="/">
                        <img src="~/images/logo_short.svg" alt="SGF Devs">
                    </a>
                </div>

                <nav>
                    <a href="/about/">About</a>
                    <a href="/directory/">Directory</a>
                    <a href="/jobs/">Jobs</a>
                    <a href="/groups/">Chapters</a>
                    @*<a href="#">Sponsors</a>*@
                </nav>
            </div>

            <div class="other_links">
                <nav>
                    <a target="_blank" href="https://www.twitch.tv/sgfdevs">Twitch</a>
                    <a target="_blank" href="https://www.youtube.com/channel/UC09Jd4ouiP_BUc7REYhC2kw">YouTube</a>
                    <a target="_blank" href="https://github.com/sgfdevs">GitHub</a>
                    <a target="_blank" href="https://www.facebook.com/sgfdevs">Facebook</a>
                    <a target="_blank" href="https://twitter.com/sgfdevs/">Twitter</a>
                    <a target="_blank" href="https://www.instagram.com/sgfdevs/">Instagram</a>
                    <a target="_blank" href="https://discord.com/invite/JHdwkBfk">Discord</a>
                </nav>

                <nav style="display: none;">
                    <a href="#">Contact</a>
                    <a href="#">Code of Conduct</a>
                    <a href="#">Cookie Policy</a>
                    <a href="#">Legal Stuff</a>
                    <a href="#">Privacy Policy</a>
                </nav>
            </div>

            <div class="signup">
                <h5>Never miss a thing</h5>
                <p>
                    Subscribe to our newsletter and be the first to know about exciting events, exclusive offers from sponsors and what’s happening in our dev community.
                </p>

                <form action="https://hooks.zapier.com/hooks/catch/5643689/o317nvx/" method="post" id="updates_subscribe">
                    <div class="material_input">
                        <label for="email">Email</label>
                        <input type="text" placeholder="laurie.bream@raviga.com" name="email" id="email">
                    </div>

                    <button class="button">Sign Up</button>
                </form>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/plugins.js?cb=2021.2.28"></script>
    <script src="~/js/main.js?cb=2021.2.28"></script>

    @RenderSection("Scripts", required: false)
    @Html.RenderJsHere()
</body>
</html>