@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Groups>
@using ContentModels = Umbraco.Web.PublishedModels;
@using Member = Umbraco.Web.PublishedModels.Member;
@{
    Layout = "_Layout.cshtml";
    var groups = Model.Children<Group>().ToList();

    // Quick cheat for filtering out Springfield Devs group out of this list
    groups.Remove(groups.Single(g => g.Name == "Springfield Devs"));
}

<div class="circuit_header">
    <div class="container medium_clamp">
        <img src="/images/headlines/groups.svg" alt="Groups">
    </div>
</div>

<div class="group_listing">
    @foreach (var group in groups)
    {
        <div class="group">
            @if(group.GroupImage != null)
            {
                <div class="image">
                    <img src="@group.GroupImage.Url()" alt="@group.Name">
                </div>
            }

            <div class="content">
                <h2>@group.Name</h2>
                <h3>What we're about</h3>
                @Html.Raw(group.AboutText)

                <a href="@group.Url()" class="button">Group Details</a>

                @if (group.Leaders != null)
                {
                    <dl>
                        <dt>Group Leaders</dt>
                        @foreach (Member leader in group.Leaders)
                        {
                            var member = Services.MemberService.GetById(leader.Id);

                            <dd>
                                <a href="/member/@member.Username">
                                    <img src="@leader.ProfileImage.Url()" alt="@leader.Name">
                                    <span>@leader.FirstName @leader.LastName.Substring(0, 1).</span>
                                </a>
                            </dd>
                        }
                    </dl>
                }
            </div>
        </div>
    }
</div>