@using SgfDevs.Dev
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using SGFDevs.Dev
@using SgfDevs.Extensions
@using Umbraco.Cms.Core
@using Umbraco.Cms.Web.Common
@inject DirectoryHelper _directoryHelper;
@inject UmbracoHelper _helper;
@inject MemberConverter _memberConverter;

@{
    Layout = "_Layout";
    //var mapper = AutoMapperConfig.Configure();
    var nextDevNight = Model.Descendants<Event>().OrderBy(d => d.Date).FirstOrDefault();
    var upcomingDevNights = Model.Descendants<Event>().Where(d => d.Date > DateTime.Today).OrderBy(d => d.Date).ToList();
    var communityEvents = Model.Descendants<CommunityEvent>().Where(d => d.StartTime > DateTime.Today).OrderBy(d => d.StartTime).ToList();
    var allUpcomingEvents = new List<Event>();

    var allMembers = _directoryHelper.GetAllMembers().ToList();
    var dailyRandomMembers = allMembers.GetDailyRandomItems(15);

    var companies = Model.Descendants<Company>().Where(c => c.IsSponsor).ToList();

    if (nextDevNight != null)
    {
        upcomingDevNights.Remove(nextDevNight);
    }

    if(upcomingDevNights.Any())
    {
        //allUpcomingEvents.AddRange(mapper.Map<List<Event>, List<EventViewModel>>(upcomingDevNights));
    }

    if (communityEvents.Any())
    {
        //allUpcomingEvents.AddRange(mapper.Map<List<CommunityEvent>, List<EventViewModel>>(communityEvents));
    }

    //var loginStatusModel = Members.GetCurrentLoginStatus();
}

@if (nextDevNight != null)
{
    var presentations = nextDevNight.Children<Presentation>();

    if (presentations.Any())
    {
        <section class="dev_night_banner">
            <time datetime="@nextDevNight.Date.ToString("MM-dd-yyyy HH:mm:ss")"><span>@nextDevNight.Date.ToString("MMM d, yyyy")</span></time>
            <div class="headline">
                <img src="/images/headlines/dev_night.svg" alt="Dev Night">
            </div>

            <ul class="presentations_@presentations.Count()">
                @foreach (var presentation in presentations)
                {
                    var group = presentation.Group;

                    var presenter = _memberConverter.FromContent(presentation.Presenter);

                    <li>
                        <div class="members">
                            <a href="/member/@presenter.Username.ToLower()">
                                <img src="@presenter.ProfileImage.GetCropUrl(width: 500)" alt="@presenter.Name">
                            </a>
                            @if (presentation.OtherPresenters != null)
                            {
                                foreach (var publishedContent in presentation.OtherPresenters)
                                {
                                    var otherPresenter = _memberConverter.FromContent(publishedContent);
                                    var image = otherPresenter.ProfileImage == null ? "/images/pipey.jpg" : otherPresenter.ProfileImage.GetCropUrl(width: 500);
                                    <a href="/member/@otherPresenter.Username">
                                        <img src="@image" alt="@presenter.Name">
                                    </a>
                                }
                            }
                        </div>

                        @if (presentation.HasValue("MeetupUrl"))
                        {
                            <a title="Meetup Link" target="_blank" href="@presentation.MeetupUrl" style="text-decoration: underline; color:  #fff;"><h3>@presentation.Name</h3></a>
                        }
                        else
                        {
                            <h3>@presentation.Name</h3>
                        }

                        <dl>
                            <dt>Presented By</dt>
                            <dd><a href="/member/@presenter.Username.ToLower()">@presenter.Name</a></dd>

                            @if (presentation.OtherPresenters != null)
                            {
                                @foreach (var publishedContent in presentation.OtherPresenters)
                                {
                                    var otherPresenter = _memberConverter.FromContent(publishedContent);
                                    <dd><a href="/member/@otherPresenter.Username.ToLower()">@otherPresenter.Name</a></dd>
                                }
                            }

                        </dl>

                        @if (group.Name.ToLower() != "springfield devs")
                        {
                            <dl>
                                <dt>From</dt>
                                <dd><a href="@group.Url()">@group.Name</a></dd>
                            </dl>
                        }
                    </li>
                }
            </ul>
        </section>
    }
}

<section class="directory_preview">
    <header>
        <section>
            <img src="/images/headlines/directory.svg" alt="Directory">
            <span>Find the Best Agencies and Professionals </span>
        </section>

        <section>
            <span>
                <strong>@allMembers.Count()</strong> Members
            </span>

            @* @if (!loginStatusModel.IsLoggedIn) *@
            @* { *@
            @*     <a href="/register" class="button outline dark">Join Us</a> *@
            @* } *@
        </section>
    </header>

    <div class="cards inline">
        <a href="#" class="scroll_trigger scroll_left">
            <i class="far fa-chevron-left"></i>
        </a>

        <a href="#" class="scroll_trigger scroll_right">
            <i class="far fa-chevron-right"></i>
        </a>


        <div class="scroll">
            <div class="card intro_card">
                <dl>
                    <dt>Professional Directory</dt>
                    <dd>
                        Find the <strong>best agencies</strong> and <strong>talented professionals</strong> in Southwest Missouri
                    </dd>
                </dl>

                <p>
                    @allMembers.Count() profiles found
                </p>

                <footer>
                    <a href="/directory/" class="button outline">Explore</a>
                </footer>
            </div>

            @foreach(var _member in dailyRandomMembers)
            {
                var member = _memberConverter.FromMember(_member);
                var url = "/member/" + member.Username;
                var location = member.City + ", " + member.State;
                var image = "/images/pipey.jpg";

                if(member.ProfileImage != null)
                {
                    image = member.ProfileImage.GetCropUrl(width: 250);
                }

                <div class="card company_card">
                    <figure>
                        <a href="@url"><img src="@image" alt="@member.Name"></a>
                        <figcaption style="display: none;">
                            <div>Platinum Sponsor</div>
                            <div>Founding Sponsor</div>
                        </figcaption>
                    </figure>

                    <div class="content">
                        <dl>
                            <dt><a href="@url">@member.Name</a></dt>
                            <dd>@location</dd>
                        </dl>

                        <footer>
                            <a class="button outline small" href="@url">Profile</a>
                        </footer>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<section class="sponsors_highlight">
    <header>
        <section>
            <img src="/images/headlines/sponsor.svg" alt="Sponsors">
            <span>We are proudly supported by these companies & brands</span>
        </section>

        <div class="circuit_graphic"></div>

        <section style="display: none;">
            <a href="#" class="button blue">See All Sponsors</a>
        </section>
    </header>

    <div class="cards grid">
        <div class="card intro_card">
            <dl>
                <dt>Sponsorship Opportunities</dt>
                <dd>
                    Connect with the developer community in Springfield
                </dd>
            </dl>

            <footer>
                <a href="/about/sponsorship/" class="button outline black">Become a Sponsor</a>
            </footer>
        </div>

        @foreach (var company in companies)
        {
            <div class="card sponsor_card">
                <figure>
                    <a href="@company.Url()"><img src="@company.Image?.Url()" alt="@company.Name"></a>
                    <figcaption>
                        @if (company.IsFoundingSponsor)
                        {
                            <div>Founding Sponsor</div>
                        }
                    </figcaption>
                </figure>

                <div class="content">
                    <dl>
                        <dt><a href="@company.Url()">@company.Name</a></dt>
                        <dd><a href="@company.WebsiteUrl" target="_blank">@company.WebsiteUrl.Replace("https://", "").Replace("/", "").Replace("www.", "")</a></dd>
                    </dl>

                    @*<footer>
                        <a class="button outline small gray" href="#">Job Listings</a>
                    </footer>*@
                </div>
            </div>
        }
    </div>
</section>

<section class="about_banner">
    <div class="container">
        <div class="content">
            <h3>Educating, inspiring and supporting developers, agencies and professionals in the Greater Springfield, MO area.</h3>
            <p>
                Springfield Devs is a non-profit organization focused on  growing and fostering the developer community in Southwest Missouri since 2014. The first Wednesday of every month we host Dev Night where several local groups present on their related topics. These events are hosted in-person at the efactory and streamed live online. Dev Nights are always free events and food/beverages are served. Join our Meetup to receive notifications on the next Dev Night.
            </p>
            <p>
                <a href="https://www.meetup.com/sgfdevs/" class="button" target="_blank">SGF Devs Meetup</a>
            </p>
            <p>
                And the party doesn't stop after Dev Night. Join our Discord server to keep the convos rolling.
            </p>
            <p>
                <a href="https://discord.sgf.dev/" class="button" target="_blank">SGF Devs Discord</a>
            </p>
        </div>
    </div>
</section>
