@using SgfDevs.Dev
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Leadership>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@inject MemberConverter _memberConverter;

@{
    var officers = Model.Officers?.Select(c => _memberConverter.FromContent(c)).ToList() ?? [];
    var board = Model.BoardOfDirectors?.Select(c => _memberConverter.FromContent(c)).ToList() ?? [];;
    var history = Model.History?.Select(c => _memberConverter.FromContent(c)).ToList() ?? [];;
}

<header class="leadership_header">
    <div class="container">
        <h1>Leadership</h1>
    </div>
</header>

<div class="container clamp">

    @if (officers != null)
    {
        <div class="leader_grid officers">
            <ul>
                @foreach (Member member in officers)
                {
                    var image = member.ProfileImage?.Url() ?? "/images/pipey.jpg";

                    <li>
                        <figure>
                            <img src="@image" alt="@member.Name">
                        </figure>
                        <h2><a href="/member/@member.Username">@member.Name</a></h2>
                        <h3>@member.OfficerTitle</h3>
                        <p>
                            @Html.Raw(member.OfficerBio)
                        </p>
                    </li>
                }
            </ul>
        </div>
    }

    @if (board != null)
    {
        <div class="leader_grid">
            <header>
                <h2>Board Of Directors</h2>
            </header>

            <ul>
                @foreach (Member member in board)
                {
                    var image = member.ProfileImage?.Url() ?? "/images/pipey.jpg";

                    <li>
                        <a href="/member/@member.Username">
                            <figure>
                                <img src="@image" alt="@member.Name">
                            </figure>
                            <h4>@member.Name</h4>
                        </a>
                    </li>
                }
            </ul>
        </div>
    }

    @if (history != null)
    {
        <div class="leader_grid history">
            <header>
                <img src="/images/headlines/history.svg" alt="History">
                <h2>2019</h2>
            </header>

            <ul>
                @foreach (Member member in history)
                {
                    var title = string.IsNullOrEmpty(member.OfficerTitle) ? "Board Member" : member.OfficerTitle;
                    var image = member.ProfileImage?.Url() ?? "/images/pipey.jpg";

                    <li>
                        <a href="#">
                            <figure>
                                <img src="@image" alt="@member.Name">
                            </figure>
                            <h4>@member.Name</h4>

                            <p>
                                <strong>@title</strong>
                            </p>
                        </a>
                    </li>
                }
            </ul>
        </div>
    }

    <div class="board_application">
        <p>
            Interested in joining the board? Apply using the the form below and a board member will contact you.
        </p>
        <p>
            <a href="https://forms.gle/XaC7zjUP1ue2TVAV6" class="button" target="_blank">Board Member Application</a>
        </p>
    </div>
</div>
