@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Page>
@using ContentModels = Umbraco.Web.PublishedModels;
@using Current = Umbraco.Web.Composing.Current;

@{
    Layout = "_Layout.cshtml";
    var contentQuery = Current.PublishedContentQuery;
    var searchQuery = Request.QueryString["query"];
}
<div class="container">
	<div class="simple_content">
		<header>
			<h1>@Model.Name</h1>
		</header>
     @{
         if (!string.IsNullOrEmpty(searchQuery))
         {
             var results = contentQuery.Search(searchQuery + "*");

            <div class="search-results">
                @if (results.Count() > 0){
                    <p>Your search results for <strong>@searchQuery</strong></p>
                    <ul>
                    @foreach (var result in results)
                    {
                        <li>
                             <strong><a href="@result.Content.Url()">@Services.ContentService.GetById(result.Content.Id).ContentType.Name - @result.Content.Name</a></strong>
                        </li>
                    }
                    </ul>
            
                } else {
                    <p> Sorry! Your search didn't return any results.</p>
                    <p>Want to try again?</p>
                     <div id="search_box" class="search-box hide">
                        <form action="/search-results/" method="get">
                            <input type="text" placeholder="Search" id="query" name="query" />
                            <button class="submit-button" type="submit"><i class="far fa-search"></i></button>
                        </form>
                    </div>
                }
            </div>
            }
        }
    </div>
 </div>