@using SGFDevs.Controllers
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Web.Common.Models.LoginModel>


<div class="container">
    <p>@ViewData["Login"]</p>
    <p>@ViewData["invalid"]</p>
    <p>@ViewData["LoginInvalid"]</p>
    <p>@ViewData["loginWorked"]</p>
    @using (Html.BeginUmbracoForm("Login", "Account", FormMethod.Post))
    {
        @* @Html.AntiForgeryToken() *@

        <div class="form">
            @Html.ValidationSummary(true)

            <div class="field">
                <label for="username">Username</label>
                <input asp-for="@Model.Username" class="form-control" id="username" placeholder="Username"  data-sb-validations="required,email"/>
                <span asp-validation-for="@Model.Username" class="text-danger"></span>
            </div>

            <div class="field">
                <label for="password">Password</label>
                <input asp-for="@Model.Password" class="form-control" type="password" id="password" placeholder="Enter your email..." autocomplete="off" data-sb-validations="required"/>
                <span asp-validation-for="@Model.Password" class="text-danger"></span>
            </div>

            <footer>
                <button class="button tall wide" type="submit">Login</button>
            </footer>

            <div class="mt_25"></div>

            <footer>
                <p><a href="/forgotten-password">Forgot your password?</a></p>
            </footer>
        </div>
    }
</div>

<div class="mt_75"></div>